@import '../../styles/includes/includes.index.scss';

.hero {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: $darkgrey;
  color: $blue;
  &__close {
    color: $red;
    cursor: pointer;
  }
  &__header {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
  }
  &__moredata {
    @extend %flex;
    justify-content: space-between;
    @include breakpoint($mobile-xmd) {
      display: block;
      margin-top: 1rem;
    }
    &--item {
      margin: 1rem;
      @include breakpoint($mobile-xmd) {
        margin: 2rem;
      }
    }
  }
  &__list {
    &--li {
      padding-left: 1rem;
    }
  }

}
