@import '../../styles/includes/includes.index.scss';

.input {
  max-width: 50rem;
  &__border{
    height: 3rem;
    border-radius: 1rem;
    border: 0.2rem solid $darkgrey;
    &.has-error {
      border-color: $red;
    }
    &.is-focused {
      border-color: $blue;
      .input__input {
        background-color: $white;
      }
    }
  }
  &__input {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    background-color: $lightgrey;
    color: $darkgrey;
  }
  &__error {
    color: $red;
    padding-left: 1rem;
  }
}
