@import '../../styles/includes/includes.index.scss';

.button {
  background-color: $darkgrey;
  color: $white;
  padding: 0.35em 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  text-align: center;
  line-height: 1;
  height: 3rem;

  &.is-blue {
    background-color: $blue;
  }
  &.is-lightgrey {
    background-color: $lightgrey;
  }
  &.is-red {
    background-color: $red;
  }
  &.is-darkblue {
    background-color: $darkblue;
  }
  &.is-green {
    background-color: $green;
  }
  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
