body, a {
  color: $black;
}

body {
  background-color: $darkgrey;
  color: $black;
}

a, .typ--link {
  position: relative;
  cursor: pointer;
  display: inline-block;
  &:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
